In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("Helsingin_pyorailijamaarat.csv",sep=";")

(37166, 22)

In [66]:
df.dropna(how ="all",axis=1,inplace = True)
df.set_index("Päivämäärä")

df2 = df.copy()
date_column = df2[["Päivämäärä"]]
date_column.dropna(how="any",inplace = True)
dates = date_column["Päivämäärä"].str.split(expand = True)
dates.rename(columns = {
            0 : "Weekday",
            1 : "Day",
            2 : "Month",
            3 : "Year",
            4 : "Hour"
},inplace = True)

dates.Month = dates.Month.map({"tammi":1,"helmi":2,"maalis":3,
                                        "huhti":4,"touko":5,"kesä":6, "heinä":7,
                                        "elo":8,"syys":9,"loka":10,
                                        "marras":11,"joulu":12
                        })

dates.dropna(how="any")
dates.Weekday = dates.Weekday.map({"su":7,"ma":1,"ti":2,"ke":3,"to":4,"pe":5,"la":6})
dates.Month = dates["Month"].astype(int)
dates.Weekday = dates["Weekday"].astype(int)

/home/vins/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Weekday Day  Month  Year   Hour
0        3   1      1  2014  00:00
1        3   1      1  2014  01:00
2        3   1      1  2014  02:00
3        3   1      1  2014  03:00
4        3   1      1  2014  04:00

In [71]:
time =dates["Hour"].str.split(":")
type(time)
#type(dates["Hour"][1])

pandas.core.series.Series

In [2]:
wh2 = dates.copy()
#wh2["Date"] = pd.to_datetime(dates[["Year", "Month", "Day","Hour"]])
wh2
a = pd.to_datetime(wh2[["Year","Month","Day"]]) 
hr = dates["Hour"]
a = a.append(hr)
a

NameError: name 'dates' is not defined