In [2]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv("UK-top40-1964-1-2.tsv", sep="\t")
df.head()
a = df.loc[df["Publisher"]=="COLUMBIA"]
a

,Pos,LW,Title,Artist,Publisher,Peak Pos,WoC
1,2,6,GLAD ALL OVER,THE DAVE CLARK FIVE,COLUMBIA,2,7
3,4,3,YOU WERE MADE FOR ME,FREDDIE AND THE DREAMERS,COLUMBIA,3,9
9,10,8,DON'T TALK TO HIM,CLIFF RICHARD,COLUMBIA,2,9
11,12,11,GERONIMO,THE SHADOWS,COLUMBIA,11,5
15,16,12,YOU'LL NEVER WALK ALONE,GERRY AND THE PACEMAKERS,COLUMBIA,1,13
24,25,25,I (WHO HAVE NOTHING),SHIRLEY BASSEY,COLUMBIA,6,14
39,40,Re,WALKING ALONE,RICHARD ANTHONY,COLUMBIA,37,2

In [18]:
A = df.groupby(["Publisher"])
A["WoC"].sum()

Publisher
COLPIX                5
COLUMBIA             59
CORAL                 3
DECCA                37
EMBER                 4
FONTANA               5
HMV                   9
LONDON               23
PARLOPHONE           50
PHILIPS              18
PYE                  24
PYE INTERNATIONAL     2
RCA                  12
UNITED ARTISTS        5
WARNER BROTHERS      11
Name: WoC, dtype: int64

In [44]:
publisher = df.groupby("Publisher")

v = publisher["WoC"].apply(lambda x:(x.sum())).sort_values(ascending=False)

liste = v.sort_values(ascending = False)

liste[0], liste.index[0]
#df['Publisher'].value_counts().idxmax()
    

df.loc[df["Publisher"]==liste.index[0]]

v.index[0]

'COLUMBIA'

3+4

In [ ]:
try:
    print("wer are ")
    df[df['Publisher'].str.contains("WARNER BROTHERS")]
    
except Exception e:
    print(e)

g =df.groupby(["Publisher"])
try:
    for key, group in g:
        print(key, group)
except Exception as e:
    print(e)

      #print(key, group)
    #g = df.groupby(["Publis