In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("presidents.tsv", sep="\t")
df

       President     Start  Last Seasons Vice-president
0   Donald Trump  2017 Jan     -       1     Mike pence
1   Barack Obama      2009  2017       2      joe Biden
2   Bush, George      2001  2009       2   Cheney, dick
3  Clinton, Bill      1993  2001     two       gore, Al

In [17]:
df.dtypes
df.shape
names = pd.Series(["donald trump", "theresa, may", "angela", "vladimir"])
names.str.capitalize(
a = "Clinton, Bill"
if("," in a):        
     print("has")
else:
    print("No")

SyntaxError: invalid syntax (<ipython-input-17-26d39cce19c3>, line 6)