In [3]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv("Helsingin_pyorailijamaarat.csv",sep=";")
df = df.dropna(how="all")
dates = df["Päivämäärä"].str.split(expand=True)
df =  df.drop("Päivämäärä", axis =1)

In [33]:
dates.isna().sum()
dates = dates.rename(columns = 
        {
            0 : "Weekday",
            1 : "Day",
            2 : "Month",
            3 : "Year",
            4 : "Hour"
        })
dates["Weekday"]=dates["Weekday"].map({"ma":"Mon","ti":"Tue","ke":"Wed","to":"Thu",
                        "pe":"Fri","la":"Sat", "su":"Sun"

                        })

In [38]:
s3 = pd.Series([0, 1, 2, 3], name='s3')
s4 = pd.Series([1, 0, 2, 3], name='s4')
s5 = pd.Series([30, 31, 32, 33], name='s5')
pd.concat([s4,s5,s3],axis = 1)

   s4  s5  s3
0   1  30   0
1   0  31   1
2   2  32   2
3   3  33   3

In [39]:
books = pd.DataFrame({"Title" : ["War and Peace", "Good Omens", "Good Omens"] ,
                      "Author" : ["Tolstoi", "Terry Pratchett", "Neil Gaiman"]})
books

           Title           Author
0  War and Peace          Tolstoi
1     Good Omens  Terry Pratchett
2     Good Omens      Neil Gaiman

In [40]:
collections = pd.DataFrame([["Oodi", "War and Peace"],
                           ["Oodi", "Good Omens"],
                           ["Pasila", "Good Omens"],
                           ["Kallio", "War and Peace"]], columns=["Library", "Title"])
collections

  Library          Title
0    Oodi  War and Peace
1    Oodi     Good Omens
2  Pasila     Good Omens
3  Kallio  War and Peace

In [42]:
pd.merge(books,collections)

           Title           Author Library
0  War and Peace          Tolstoi    Oodi
1  War and Peace          Tolstoi  Kallio
2     Good Omens  Terry Pratchett    Oodi
3     Good Omens  Terry Pratchett  Pasila
4     Good Omens      Neil Gaiman    Oodi
5     Good Omens      Neil Gaiman  Pasila

In [45]:
collections.merge(books, left_on="Author")

TypeError: object of type 'NoneType' has no len()