In [117]:
#!/usr/bin/env python3

import pandas as pd
import numpy as np


data = { "State":["United Kingdom","Finland","USA","Sweden","Germany","Russia"],
        "Year of Independence":[np.nan,1917,1776,1523,np.nan,1992],
        "President":[np.nan,"Niinistö","Trump",np.nan,"Steinmeier","Putin"]
       }
                      
df = pd.DataFrame(data)
df.astype({"State":"object", "Year of Independence":"float"}).dtypes

df.set_index("State",inplace=True)
    #df["Year of Independence"].fillna("Not Applicable",inplace=True)
    #df["Year of Independence"]=df["Year of Independence"].fillna(value=0)
    
df.dtypes
np.testing.assert_array_equal(df.columns, ["Year of independence", "President"],err_msg="Incorrect column names!")

AssertionError:
Arrays are not equal
Incorrect column names!
Mismatch: 50%
 x: array(['Year of Independence', 'President'], dtype=object)
 y: array(['Year of independence', 'President'], dtype='<U20')

In [119]:
def triple(i):
	t = i * 3
	return t
def square(i):
	s = i ** 2
	return s
 
def main():
	for i in range(1,11):
        if (square(i) > triple(i)):
            break

        else:
            print(f"triple({i})=={triple(i)} square({i})=={square(i)}")

 
if __name__ == "__main__":
    main()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [103]:
df.iloc[1,1]

'Niinistö'

In [64]:
import numpy as np
df["Year of Independence"].fillna("Not Applicable",inplace=True)
df["President"].replace(".",np.nan)
#df["President"].fillnull("Not Applicable", inplace=True)
#df.replace(r'\s+',np.nan,regex=True).replace('',np.nan)
df

            State Year of Independence   President
0  United Kingdom       Not Applicable           .
1         Finland                 1917    Niinistö
2             USA                 1776       Trump
3          Sweden                 1523           .
4         Germany       Not Applicable  Steinmeier
5          Russia                 1992       Putin

In [59]:
def triple(i):
	t = i * 3
	return t
def square(i):
	s = i ** 2
	return s
 

for i in range(1,11):
    
    
    if square(i) > triple(i):
        break
    print(f"triple({i})=={triple(i)} square({i})=={square(i)}")

triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
triple(3)==9 square(3)==9

In [58]:
#!/usr/bin/env python3
def triple(i):
        return i*3
def square(i):
        return i*i

def main():
    
    for i in range(1,11):
        t = triple(i)
        s = square(i)
        if s<=t:
            print("triple({})=={} square({})=={}".format(i,t,i,s))
        else:
            break
        


if __name__ == "__main__":
    main()

triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
triple(3)==9 square(3)==9