In [7]:
import pandas as pd
df = pd.read_csv("UK-top40-1964-1-2.tsv", sep="\t")
df.head()

,Pos,LW,Title,Artist,Publisher,Peak Pos,WoC
0,1,1,I WANT TO HOLD YOUR HAND,THE BEATLES,PARLOPHONE,1,5
1,2,6,GLAD ALL OVER,THE DAVE CLARK FIVE,COLUMBIA,2,7
2,3,2,SHE LOVES YOU,THE BEATLES,PARLOPHONE,1,19
3,4,3,YOU WERE MADE FOR ME,FREDDIE AND THE DREAMERS,COLUMBIA,3,9
4,5,9,TWENTY FOUR HOURS FROM TULSA,GENE PITNEY,UNITED ARTISTS,5,5

In [59]:
df_10 = df.iloc[:10,[2,3]]
wh = pd.read_csv("https://www.cs.helsinki.fi/u/jttoivon/dap/data/fmi/kumpula-weather-2017.csv")
wh.head()
july = wh.loc[wh["m"]==7,:]

july.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
181,2017,7,1,00:00,UTC,0.1,-1.0,14.1
182,2017,7,2,00:00,UTC,-1.0,-1.0,16.4
183,2017,7,3,00:00,UTC,2.2,-1.0,14.5
184,2017,7,4,00:00,UTC,0.9,-1.0,14.1
185,2017,7,5,00:00,UTC,-1.0,-1.0,14.0

In [64]:
zero = wh.loc[(wh["Air temperature (degC)"]<0.0),:]
zero.shape[0]

49

In [65]:
wh2 = wh.drop(["Year", "m", "d"], axis=1)  # taking averages over these is not very interesting
wh2.mean()
wh2
zero

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8
5,2017,1,6,00:00,UTC,0.3,10.0,-17.8
6,2017,1,7,00:00,UTC,5.3,10.0,-3.8
7,2017,1,8,00:00,UTC,-1.0,12.0,-0.5
10,2017,1,11,00:00,UTC,-1.0,7.0,-1.6
11,2017,1,12,00:00,UTC,8.0,7.0,-2.8
14,2017,1,15,00:00,UTC,-1.0,8.0,-2.8
15,2017,1,16,00:00,UTC,-1.0,8.0,-4.2
16,2017,1,17,00:00,UTC,0.2,8.0,-3.5
19,2017,1,20,00:00,UTC,0.3,5.0,-0.6
20,2017,1,21,00:00,UTC,0.4,5.0,-1.8
23,2017,1,24,00:00,UTC,-1.0,6.0,-2.2
24,2017,1,25,00:00,UTC,0.6,6.0,-3.8
31,2017,2,1,00:00,UTC,1.5,4.0,-0.6
32,2017,2,2,00:00,UTC,0.2,5.0,-0.8
33,2017,2,3,00:00,UTC,-1.0,6.0,-0.2
35,2017,2,5,00:00,UTC,-1.0,7.0,-2.5
36,2017,2,6,00:00,UTC,-1.0,7.0,-7.3
37,2017,2,7,00:00,UTC,-1.0,8.0,-12.1
38,2017,2,8,00:00,UTC,-1.0,8.0,-8.8
39,2017,2,9,00:00,UTC,-1.0,8.0,-10.1
40,2017,2,10,00:00,UTC,-1.0,8.0,-8.3
41,2017,2,11,00:00,UTC,-1.0,8.0,-5.4
42,2017,2,12,00:00,UTC,-1.0,8.0,-2.7
51,2017,2,21,00:00,UTC,-1.0,7.0,-2.5
52,2017,2,22,00:00,UTC,12.2,6.0,-4.6
53,2017,2,23,00:00,UTC,0.3,15.0,-0.7
54,2017,2,24,00:00,UTC,-1.0,13.0,-5.3
55,2017,2,25,00:00,UTC,0.4,13.0,-5.6
56,2017,2,26,00:00,UTC,2.5,12.0,-2.0
57,2017,2,27,00:00,UTC,1.0,14.0,-2.3
62,2017,3,4,00:00,UTC,0.2,6.0,-1.8
63,2017,3,5,00:00,UTC,-1.0,6.0,-4.2
64,2017,3,6,00:00,UTC,-1.0,7.0,-4.2
65,2017,3,7,00:00,UTC,5.7,6.0,-2.9
70,2017,3,12,00:00,UTC,-1.0,6.0,-0.9
88,2017,3,30,00:00,UTC,3.3,-1.0,-0.4
103,2017,4,14,00:00,UTC,-1.0,-1.0,-0.5
104,2017,4,15,00:00,UTC,-1.0,-1.0,-1.4
105,2017,4,16,00:00,UTC,-1.0,-1.0,-1.7
299,2017,10,27,00:00,UTC,2.7,7.0,-0.3
303,2017,10,31,00:00,UTC,-1.0,-1.0,-0.4
339,2017,12,6,00:00,UTC,-1.0,-1.0,-1.2
340,2017,12,7,00:00,UTC,16.3,0.0,-0.8
355,2017,12,22,00:00,UTC,-1.0,-1.0,-0.1
357,2017,12,24,00:00,UTC,-1.0,-1.0,-0.3

In [36]:
wh2.describe()
wh2["Snow depth (cm)"].min()
wh2["Air temperature (degC)"].min()
#wh2.max(level= 1)

-17.8

In [69]:
def triple(i):
	t = i * 3
	return t
def square(i):
	s = i ** 2
	return s
 

for j in range(1,11):
	print(f"triple({j})=={triple(j)} square({j})=={square(j)}")
	if square(j) >=triple(j):
		break

triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
triple(3)==9 square(3)==9