In [2]:
import pandas as pd
import numpy as np

In [50]:
weather = pd.read_csv("kumpula-weather-2017.csv",sep=",")
#weather = weather.drop(["m","d","Time","Time zone"], axis = 1)
weather.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [51]:
cyclist = pd.read_csv("Helsingin_pyorailijamaarat.csv",sep=";")
def split_date(df):
    
    d = df["Päivämäärä"].str.split(expand=True)
    d.columns = ["Weekday", "Day", "Month", "Year", "Hour"]

    hourmin = d["Hour"].str.split(":", expand=True)
    d["Hour"] = hourmin.iloc[:, 0]
    
    d["Weekday"] = d["Weekday"].map({"ma":"Mon","ti":"Tue","ke":"Wed","to":"Thu",
                        "pe":"Fri","la":"Sat", "su":"Sun"

                        })
    d["Month"] = d["Month"].map({"tammi":1,"helmi":2,"maalis":3,
                                        "huhti":4,"touko":5,"kesä":6, "heinä":7,
                                        "elo":8,"syys":9,"loka":10,
                                        "marras":11,"joulu":12
                        })
    
    d = d.astype({"Weekday": object, "Day": int, "Month": int, "Year": int, "Hour": int})
    return d
cyclist.dropna(how="all",inplace = True)
dates = split_date(cyclist)
cyclist = cyclist.drop("Päivämäärä",axis=1)
       # print(df.shape, dates.shape)
df_cyclist = pd.concat([dates,cyclist],axis=1)
      #  print(df.head())
df_cyclist = df_cyclist.drop("Unnamed: 21",axis = 1)
#df_cyclist = df_cyclist.drop(["Day","Month","Hour","Weekday"],axis=1)
df_cyclist.head()

['Year',
 'Precipitation amount (mm)',
 'Snow depth (cm)',
 'Air temperature (degC)',
 'Weekday',
 'Day',
 'Month',
 'Hour',
 'Auroransilta',
 'Eteläesplanadi',
 'Huopalahti (asema)',
 'Kaisaniemi/Eläintarhanlahti',
 'Kaivokatu',
 'Kulosaaren silta et.',
 'Kulosaaren silta po. ',
 'Kuusisaarentie',
 'Käpylä, Pohjoisbaana',
 'Lauttasaaren silta eteläpuoli',
 'Merikannontie',
 'Munkkiniemen silta eteläpuoli',
 'Munkkiniemi silta pohjoispuoli',
 'Heperian puisto/Ooppera',
 'Pitkäsilta itäpuoli',
 'Pitkäsilta länsipuoli',
 'Lauttasaaren silta pohjoispuoli',
 'Ratapihantie',
 'Viikintie',
 'Baana']

In [47]:
final = pd.merge(right = df_cyclist, left = weather,   how="inner")
final.shape

(3197400, 28)