In [73]:

import pandas as pd
import numpy as np


df = pd.read_csv("Helsingin_pyorailijamaarat.csv",sep=";")
df.head()
df_new = df.iloc[:,:5]
df_new
df.shape
days = ["mon","tues","wed"]
#df_new.dropna(axis=0, how="any")

In [97]:
paiva = df_new["Päivämäärä"].str.split(expand=True)
#df_new.replace(["ma","ti","ke"], ["mon","tues","wed"])
months_name=["tammi","helmi","maalis","huhti","touko","kesä","heinä","elo","syys","loka","marras","joulu"]
months_num = list(range(1,13))
#paiva[0].replace(["ma","ti","ke","to","pe","la","su"], ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"], inplace = True)
paiva[0]=paiva[0].map(({"ma":"kitten","ke":"bueudha"}))
paiva[2].replace(months_name,months_num, inplace=True )
paiva[4]=paiva[4].str.strip(":")

paiva[4]= paiva[4].str.replace(":00","")
#pd.to_numeric(paiva[4],downcast = "integer")

paiva.head()
paiva.dropna(how="any",inplace = True)

#list(range(1,13))
paiva = paiva.rename(columns = 
        {
            0 : "Weekday",
            1 : "Day",
            2 : "Month",
            3 : "Year",
            4 : "Hour"
        })
dates = paiva
dates.dropna(how="any",inplace = True)

dates.astype({"Day":"int32", "Year":"int32", "Hour":"int32", "Month":"int32"}).dtypes

dates.isnull().sum()

Weekday    0
Day        0
Month      0
Year       0
Hour       0
dtype: int64

In [105]:
def makedf(cols, ind):
    data = {c : [str(c) + str(i) for i in ind] for c in cols}
    
    return pd.DataFrame(data, ind)
ind = [i for i in range(3)]
a=makedf("ABC", ind)
a
b=makedf("abc", ind)
b
pd.concat([a,b], sort=False)
c = makedf("ABC", [5,7,8])
pd.concat([a,a],sort=False)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
5  A5  B5  C5
7  A7  B7  C7
8  A8  B8  C8